<header id="head">
    <h1>MY CHESS.COM SCRAPER</h1>
</header>

<br>

<div class="container">

    <div class="row">

        <div class="col-lg-8" id="articles">

            <button id="scrape">SCRAPE ARTICLES</button>
            <button id="clear">CLEAR ARTICLES</button>

            <hr>

            <div id="content">
                <h3>Scrape to see articles</h3>
            </div>

        </div>

        <div class="col-lg-4">
            <h2>SAVED ARTICLES</h2>
            <button id="clearSaved">Clear Saved</button>

            <hr>

            <div id="new"></div>

        </div>

    </div>

</div>