<header id="head">
    <h1>MY CHESS.COM SCRAPER</h1>
</header>

<br>

<div class="container">

    <div class="row">

        <div class="col-lg-8" id="articles">

            <button id="scrape">SCRAPE ARTICLES</button>
            <a href="/articles"><button id="saved">SAVED ARTICLES</button></a>
            <button id="clear">CLEAR ARTICLES</button>

            <hr>

            <div id="content">
                <h2>Scrape to see articles</h2>
            </div>

        </div>

        <div class="col-lg-4">
            <h2>Saved Articles</h2>

            <div id="new"></div>

        </div>

    </div>

</div>