<header id="head">
    <h1>MY CHESS.COM SCRAPER</h1>
</header>

<br>

<div class="container">

    <div class="row">

        <div class="col-lg-8" id="articles">
            <button id="scrape">SCRAPE ARTICLES</button>
            <button id="saved">SAVED ARTICLES</button>
            <button id="clear">CLEAR ARTICLES</button>
            <hr>

            <div id="content"></div>
        </div>

        <div class="col-lg-4">
        </div>

    </div>

</div>