body {
    background: bisque;
}

#head {
    text-align: center;
    background: brown;
    padding: 10px 0 10px 0;
    color: white;
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: red;
}

h3 {
    font-family: 'Oswald', sans-serif;
    color: gray;
}

h4 {
    font-family: 'Oswald', sans-serif;
    color: brown;
}

h5 {
    font-family: 'Oswald', sans-serif;
    color: gray;
}

#content {
    font-family: 'Oswald', sans-serif;
    color: gray;
}

#scrape {
    color: red;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

#saved {
    color: red;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

#clear {
    color: red;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

#savenote {
    color: white;
    background: tan;
    border-radius: 5px;
}

#clearnote {
    color: white;
    background: tan;
    border-radius: 5px;
}

#new {
    font-family: 'Oswald', sans-serif;
    color: red;
}

#clearSaved {
    color: red;
    background: white;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    left: 210px;
    bottom: 50px;
}

#endText {
    font-family: 'Oswald', sans-serif;
    color: red;
}